<nav class="navbar-default navbar-static-side" role="">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="metismenu">

            <li>
                <a><i class="fa fa-user"></i> <span class="nav-label">Exames</span> <span class="fa arrow"></span></a>
                <ul>
                    <li><a [routerLink]="['/newexams']">Criar</a></li>
                    <li><a href="#">Consulta</a></li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['/allquestions']"><i class="fa fa-shield"></i>
                    <span class="nav-label">Questões</span>
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-shield"></i>
                    <span class="nav-label">Tecnologias</span>
                    </a>
            </li>
        </ul>
    </div>
</nav>