<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" >
            
            <li>
                <a style="margin-top:15px;" href="#"><i class="fa fa-user"></i> <span
                        class="nav-label">Exames</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Criar</a></li>
                    <li><a href="#">Solicitar</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-shield"></i> <span class="nav-label">Questões</span> </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-shield"></i> <span class="nav-label">Tecnologias</span> </a>
            </li>
        </ul>
    </div>
</nav>