<div class="container-fluid">
    <header class="row">
        <div class="avalicao col-md-4 offset-md-4">Cadastrar novo teste</div>
        <div class="logo-container col-md-3 offset-md-1">
            <img src="../../assets/img/capgemini-logo.jpg" alt="Capgemini logo" class="logo">
        </div>
    </header>

    <section class="sectionPrin">
        <form #questionsForm="ngForm" ng-submit="submitForm()" (submit)="onSubmit(questionsForm.value)" novalidate>
            <div class="">
                <div class="">
                    <table class="tableDesign">
                        <tr>
                            <td>
                                <label for="testName">Nome do teste:</label>
                            </td>
                            <td>
                                <input type="text" name="testName" class="form-control" ngModel>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="technology">Tecnologia:</label>
                            </td>
                            <td>
                                <select id="technology" class="form-control" ngModel>
                                    <script> console.log(questions)</script>
                                    <option value="{{technology}}" *ngFor="let technology of technologys">
                                        {{ technology }}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="complexity">Complexidade:</label>
                            </td>
                            <td>
                                <select id="complexity" class="form-control" ngModel>
                                    <option value="{{complexity}}" *ngFor="let complexity of complexity">
                                        {{ complexity }}</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="testAmount">Quantidade de questões:</label>
                            </td>
                            <td>
                                <input id="testAmount" type="number" min="0" name="testAmount" class="form-control" ngModel>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div class="button-container">
                <button id="append" (click)="add()" class="btn btn-primary" type="button">Adicionar</button>
            </div><br>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Tecnologia</th>
                                <th class="text-center">Complexidade</th>
                                <th class="text-center">Quantidade</th>
                                <th class="text-center">Remover</th>
                            </tr>
                        </thead>
                        <tbody id="tabela-prova">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-primary" type="submit">enviar</button>
            </div>
        </form>
        <br>




    </section>

    <footer class="row">
        <div class="footer-text col-md-8 offset-md-2">Capgemini - Todos direitos reservados</div>
    </footer>



</div>