header,
footer {
    background: url("../../assets/img/fundo-abstrato-azul.png");
    background-repeat: no-repeat;
    background-size: 300px 112px;
}
label {
    font-weight: bold;
    color: #000000;
    margin-right: 15px;
}
.form-control {
    width: 25em;
}
.tableDesign {
    margin: 0 auto;
}

header {
    margin-bottom: 20px;
    background-size: 300px 112px;
}

header img.logo {
    width: 200px;
}

header .avalicao {
    font-size: 37px;
    text-align: center;
    padding: 30px;
    font-family: "Teko", sans-serif;
}

header .logo-container {
    padding: 28px;
}

.form-section {
    margin: 30px;
}
.sectionPrin {
    padding-bottom: 100px;
    min-height: 100%;
}

.question-container {
    margin: 20px 0px;
}

.name-container {
    font-weight: bold;
}

ul {
    padding-left: 0;
    list-style-type: none;
    list-style-position: inside;
}

.question-title {
    font-weight: bold;
}

.question-first-part,
.question-last-part {
    margin: 10px 0px;
}

div ul pre {
    background-color: rgb(238, 239, 245);
    width: 700px;
    line-height: 0.6em;
    overflow: hidden;
    color: rgb(66, 66, 66);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-container {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 30px;
    background-size: 300px 84px;
    margin-top: 100px;
}

footer .footer-text {
    text-align: center;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}
