<div class="container-fluid">
    <header class="">
        <div class="avalicao" id="titulo">Cadastrar novo teste</div>
    </header>


    <section class="sectionPrin">
        <form #ExamsForm="ngForm" (submit)="onSubmit(ExamsForm.value)" novalidate>
            <div class="">
                <div class="">
                    <table class="tableDesign">
                        <div>
                            <tr>
                                <td>
                                    <label for="technology">Nome Teste:</label>
                                </td>
                                <td>
                                    <input type="text" name="nomeTeste" class="form-control" ngModel>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <label for="technology">Tecnologia:</label>
                                </td>
                                <td>
                                    <select id="technology" class="form-control">
                                        <script> console.log(questions);</script>
                                        <option value="{{question.tecnologia}}" *ngFor="let question of questions">
                                            {{ question.tecnologia }}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="complexity">Complexidade:</label>
                                </td>
                                <td>
                                    <select id="complexity" class="form-control" ngModel>
                                        <option value="basic">Basico</option>
                                        <option value="medium">Médio</option>
                                        <option value="hard">Dificil</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="testAmount">Quantidade de questões:</label>
                                </td>
                                <td>
                                    <input id="testAmount" type="number" min="0" name="testAmount" class="form-control" ngModel [(ngModel)]="exame.testAmount">
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
            <br>
            <div class="button-container">
                <button id="append" (click)="add()" class="btn btn-primary" type="button">Adicionar</button>
            </div><br>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Tecnologia</th>
                                <th class="text-center">Complexidade</th>
                                <th class="text-center">Quantidade</th>
                                <th class="text-center">Remover</th>
                            </tr>
                        </thead>
                        <tbody id="tabela-prova">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-primary" type="submit">enviar</button>
            </div>
        </form>
        <br>




    </section>


</div>